<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.colafans.hellotest">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.NotificationActivity" />
        <activity android:name=".view.CameraActivity" />
        <activity android:name=".view.PreviewActivity" />
        <activity android:name=".view.TimeActivity" />
        <activity android:name=".view.BroadcastActivity" />
        <activity android:name=".view.IntentActivity" />
        <activity android:name=".view.SnackBarActivity" />

        <receiver android:name=".MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.DateUtilsDemoActivity"></activity>
    </application>

</manifest>